.review-tab {
    .review-tab-title {
        align-items: center;
        i {
            color: var(--primary-background);
        }
        .rate {
            letter-spacing: 1px;
            font-size: x-large;
            font-weight: 600;
        }
    }
}
