.attribute {
    .data-type {
        font-size: x-small;
    }
    input {
        position: relative;
    }
    i {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, -50%);
        color: #666;
    }
    .error{
        transform: translateY(100%);
        position: absolute;
        bottom:0;
        left: 0;
    }
}
